body {
    margin: auto;
    width: 40%;
    background-color: #0f1414;
    padding: 60px;
    color: #d0ffd1;
}

div {
    background-color: #0d1111;
    padding: 10px;
}

h1 {
    color: #c0e6ff;
}

a {
    color: aqua;
}